/** BUTTONS **/

.main-button {
  padding: 12px 65px;
  color: $buttontextgreen;
  font-family: Muli800, sans-serif;
  font-size: 18px;
  letter-spacing: 1.2px;
  border: solid 0px;
  border-radius: 6px;
  border-color: $buttondarkerpurple;
  background: rgb(139,123,130);
  background: linear-gradient(90deg, rgba(139,123,130,1) 0%, rgba(208,202,205,1) 100%);
  transition: all 0.2s ease;
  box-shadow: 0 12px 20px -8px rgba(0, 0, 0, 0.5);
}

.main-button:hover {
  transform: translateY(4px);
  border-color: $buttondarkerpurple;
  color: $buttontextgreen;
  background-color: $lightpurple;
}

.main-button:active {
  transform: translateY(3px);
  border-color: $buttondarkerpurple;
  color: $buttontextgreen;
  background-color: $lightpurple;
}

.main-button:focus {
  transform: translateY(3px);
  border-color: $buttondarkerpurple;
  color: $buttontextgreen;
  background-color: $lightpurple;
}

.purple-button, .green-button {
  padding: 8px 25px;
  color: $buttontextgreen;
  border: solid 1px;
  border-radius: 4px;
  display: block;
  margin: auto;
  text-align: center;
  transition: all 0.2s ease;
}

.purple-button {
border-color: $buttondarkerpurple;
background-color: $lightpurple;
}

.green-button {
border-color: $buttongreenborder;
background-color: $brightergreen;
}

.purple-button:hover, .green-button:hover {
  color: $buttontextgreen;
  transform: translateY(3px);
}

.purple-button:hover {
  border-color: $buttondarkerpurple;
  background-color: $buttonpurplehover;
}

.green-button:hover {
  border-color: $buttongreenborder;
  background-color: $buttongreenhover;
}

.purple-button:active, .green-button:active {
  color: $buttontextgreen;
  transform: translateY(3px);
}

.purple-button:active {
  color: $buttontextgreen;
  background-color: $buttonpurplehover;
}

.green-button:active {
  border-color: $buttongreenborder;
  background-color: $buttongreenhover;
}

.purple-button:focus, .green-button:focus {
  color: $buttontextgreen;
  transform: translateY(3px);
}

.purple-button:focus {
  border-color: $buttondarkerpurple;
  background-color: $buttonpurplehover;
}

.green-button:focus {
  border-color: $buttongreenborder;
  background-color: $buttongreenhover;
}
