/** FOOTER **/

.site-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 50px;
  background-color: $lightpurple;
  color: $lightlightpurple;
  font-family: Muli, sans-serif;
  text-align: center;
}