/** FRONT PAGE **/

.welcome-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  position: relative;
}

.welcome-text h1 {
  font-family: Muli800, sans-serif;
  font-weight: 800;
  font-size: 52px;
  color: $buttondarkerpurple;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  border: solid black 0px;
  border-radius: 5px;
  position: absolute;
  left: 20%;
  top: 18%;
  right: 20%;
}

.intro-text-column {
  max-width: 800px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.intro-text p {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
  padding-bottom: 15px;
}

/** UPCOMING WORKSHOPS AND TESTIMONIALS**/

.front-page-two-columns {
  padding-left: 40px;
  padding-right: 40px;
}

.workshop-column, .testimonials-column {
  min-height: 550px;
  padding-top: 10px;
  margin-bottom: 60px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background: rgb(185,175,180);
  background: linear-gradient(135deg, rgba(185,175,180,1) 0%, rgba(208,202,205,1) 50%, rgba(231,228,230,1) 100%);
  /**background: #dcd7d9; **/
  border: solid 0px;
  border-color: $lightergreen;
  border-radius: 10px;
  box-shadow: 0 20px 15px -12px rgba(0, 0, 0, 0.5);
}

.testimonials-column {
/*background: #ccdc96; */
background: rgb(185,175,180);
background: linear-gradient(225deg, rgba(185,175,180,1) 0%, rgba(208,202,205,1) 50%, rgba(231,228,230,1) 100%);
}

.workshop-column h2, .testimonials-column h2 {
  text-align: center;
  padding-bottom: 20px;
}

.workshop-date {
  padding-bottom: 15px;
}

.workshop-content {
  padding-bottom: 15px;
}

.workshop-date, .workshop-content span {
  font-family: Muli800, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.6;
}

.testimonials-content {
  padding-bottom: 15px;
}

.testimonials-content p {
  font-style: italic;
  margin-bottom: 0px;
  text-align: justify;
}

.testimonials-content span {
  font-family: Muli800, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.6;
}

.image-column {
  padding-top: 10px;
  padding-left: 5px;
}

.testimonials-image-frontpage {
  height: 115px;
  border-radius: 50%;
}

i {
  color: $darkpurple;
  padding-right: 20px;
}






