/** HERO **/

.hero {
  background-size: cover;
  background-position: center;
  height: 400px;
  text-align: left;
  margin-bottom: 60px;
}

.hero-headline h1 {
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 80px;
  color: #0E090C;
  margin-top: 0px;
  padding-top: 280px;
  padding-left: 100px;
}