/** COLORS **/

/** THEME from Adobe Color CC "MORRIS" **/
$darkpurple: #0E090C;
$lightpurple: #8B7B82;
$darkgreen: #95A660;
$brightergreen: #A6C24A;
$lightlightpurple: #F1F0F4;

/**PURPLE**/
$buttonpurplehover: #6f6268; /** Purple button hover **/
$buttondarkerpurple: #7d6E75; /** Purple button border **/

/** GREEN **/
$buttongreenborder: #95ae42;
$buttongreenhover: #8aa337;
$lightergreen: #D8D8DB;
$buttontextgreen: #F1F5E3; /** Very light green **/