.page-id-15, .page-id-84 {
  background-color: $lightlightpurple;
}

.about-don-container {
  max-width: 900px;
  margin-bottom: 50px;
}

.about-don-content-col {
  padding-right: 40px;
}

.about-don-image-col {
  padding-top: 16px;
}

.about-don-image {
  border: double 6px $buttongreenborder;
  padding: 15px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.4);
  display: block;
  text-align: center;
  margin: auto;
}

/** EXTRA FOR PRIVATE SESSIONS PAGE **/
.book-session {
  background: rgb(162,188,78);
  background: linear-gradient(180deg, rgba(162,188,78,1) 0%, rgba(192,209,133,1) 100%);
  border-radius: 4px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.4);
  padding: 15px 15px 20px 15px;
  text-align: center;
  display: block;
  margin: 30px auto 0px auto;
}

.book-session h3 {
  margin-top: 0px;
  padding-bottom: 5px;
}

.book-session h4 {
  font-size: 16px;
}

.about-don-content-col a {
  text-decoration: underline;
  color: $darkpurple;
  transition: color 800ms ease;
}

.about-don-content-col a:hover {
  color: $lightpurple;
  transition: color 800ms ease;
}

/** Media queries for both about don and private sessions pages **/
@media (max-width: 768px) {

  .about-don-content-col {
    padding-right: 0px;
    padding-left: 0px;
  }

  .about-don-image-col {
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
  }

  .book-session {
    max-width: 500px;
  }
}

@media (max-width: 400px) {

  .book-session {
    max-width: 300px;
  }
}



