/* POST ARCHIVE PAGE */

.blog, .single-post {
  background-image: url('images/leaves-pattern.png');
  /*background-color: $lightlightpurple;*/
}

.post-container {
  max-width: 900px;
  margin-bottom: 30px;
}

.post-image-col {
  height: 250px;
  margin-top: 5px;
}

.post-image {
  height: 100%;
  width: auto;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
}

.post-content-archive-col h2 {
  margin-top: -2px;
  color: $buttongreenborder;
  font-family: Muli600, sans-serif;
}

.post-content-archive {
  text-align: justify;
}

hr.divider {
  border-bottom: 1px solid $lightergreen;
}

/* POST SINGLE PAGE */

.post-single-content-col {
  background-color: #fdfcf5;
  padding: 24px 50px;
  -webkit-box-shadow: 10px 10px 10px -3px rgba(111,98,104,0.2);
  -moz-box-shadow: 10px 10px 10px -3px rgba(111,98,104,0.2);
  box-shadow: 10px 10px 10px -3px rgba(111,98,104,0.2);
}

.post-single-content-col h1 {
  color: $buttongreenborder;
  font-weight: 800;
  text-align: center;
}

.post-single-content-col h4 {
  text-align: center;
  padding-bottom: 15px;
  padding-top: 4px;
  
  
  &::before, &::after {
  content: "§";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  opacity: 1;
  margin: 0 0.6em;
  font-family: 'EB Garamond', serif;
  font-size: 1em;
}
}

hr.page-divider {
  border-top: 2px solid $buttongreenborder;
  width: 60px;
  padding: 0px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

hr.first-page-divider {
  margin-bottom: 0px;
  margin-top: 10px;
}

hr.second-page-divider {
  margin-top: 10px;
  margin-bottom: 50px;
}

.post-image-col-single {
  padding-left: 0px;
  padding-right: 25px;
  margin-top: 6px;
}

.post-image-single {
  border: double 6px $buttongreenborder;
  padding: 15px;
}

.post-content-single {
  text-align: justify;
}