/* BLOG ARCHIVE PAGE */

.blog, .single-post {
  background-color: $lightlightpurple;
}

.blog-container {
  max-width: 900px;
  margin-bottom: 30px;
  
}
.blog-row {
  margin-bottom: 30px;
  padding-bottom: 30px;
  
  border-bottom: solid 2px $lightergreen;
}

.blog-image-col {
  height: 250px;
  padding-left: 0px;
}

.blog-image {
  height: 100%;
  width: auto;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
}

.blog-archive-content-col {
  padding-right: 0px;
}

.blog-archive-content-col h2 {
  margin-top: -2px;
  color: $buttongreenborder;
  font-family: Muli600, sans-serif;
  
}

.blog-archive-content-col h4 {
  font-family: Muli, sans-serif;
}

.generic-blog-content p {
  text-align: justify;
}

/* BLOG SINGLE PAGE */

.blog-single-content-col {
  background-color: #fff;
 
}

.blog-single-content-col h1 {
  color: $buttongreenborder;
  font-weight: 800;
  text-align: center;
  margin-top: 50px;
}



.blog-single-content-col h4 {
  text-align: center;
  padding-bottom: 50px;
  border-bottom: 5px dotted $lightergreen;
  box-shadow: inset 0 -1px 0 0 $lightergreen, 0 1px 0 0 $lightergreen;
  
  &::before, &::after {
  content: "§";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  opacity: 1;
  margin: 0 0.6em;
  font-family: 'EB Garamond', serif;
  font-size: 1em;
}
  
}


$brace-color: white;

.brace {
  width: auto;
  min-width: 35px;
  padding-bottom: 20px;
  font-size: 2em;
  line-height: 2em;
  position: relative;
  text-align: center;
  vertical-align: middle;
  margin: 0 15px 15px;
  border: none;
  background-color: transparent;
  background-image: 
    radial-gradient(circle at 0 0, rgba($brace-color,0) 14.5px, $brace-color 15.5px, $brace-color 19.5px, rgba($brace-color,0) 20.5px),
    radial-gradient(circle at 35px 0, rgba($brace-color,0) 14.5px, $brace-color 15.5px, $brace-color 19.5px, rgba($brace-color,0) 20.5px);
  background-size: 35px 20px;
  background-position: center bottom;
  background-repeat: no-repeat;
  text-transform: lowercase;
  font-style: italic;
  color: $brace-color;
  filter: drop-shadow(0 1px 1px rgba(black,.15));
  overflow: visible;
  
  &:before {
    width: 50%;
    border-top: 5px solid $brace-color;
    border-left: 1px solid transparent; /* play with this until you like the look of it */
    border-top-left-radius: 20% 30px;
    height: 100%;
    content: "";
    absolute: top 0 left -15px;
    box-sizing: border-box;
    margin-top: -5px;
  }
  
  &:after {
    width: 50%;
    border-top: 5px solid $brace-color;
    border-right: 1px solid transparent; /* play with this until you like the look of it */
    border-top-right-radius: 20% 30px;
    height: 100%;
    content: "";
    absolute: top 0 right -15px;
    box-sizing: border-box;
    margin-top: -5px;
  }
}

.blog-image-col-single, .blog-image {
  
  box-shadow: none;
 
  
}
