/* THE TWO MAIN BUTTONS */
.big-purple-button, .big-green-button {
  padding: 15px 40px;
  color: $buttontextgreen;
  font-family: Muli800, sans-serif;
  font-size: 18px;
  letter-spacing: 1.2px;
  border-radius: 6px;
  border: solid 0px;
  border-color: $buttondarkerpurple;
  background: rgb(139,123,130);
  background: linear-gradient(90deg, rgba(139,123,130,1) 0%, rgba(208,202,205,1) 100%);
  box-shadow: 0 12px 20px -8px rgba(0, 0, 0, 0.5);
  transition: all 250ms ease;
  display: block;
  margin: auto;
  text-align: center;
  width: 300px;
}

.big-green-button {
  background: rgb(149,174,66);
  background: linear-gradient(90deg, rgba(149,174,66,1) 0%, rgba(201,218,146,1) 100%);
}

.big-purple-button:hover, .big-green-button:hover {
  transform: translateY(4px);
  color: $buttontextgreen;
}


/* SMALLER, NO GRADIENT BUTTONS */
.purple-button, .green-button, .light-purple-button {
  padding: 8px 20px;
  color: $buttontextgreen;
  border: solid 1px;
  border-radius: 4px;
  border-color: $buttondarkerpurple;
  background-color: $lightpurple;
  transition: all 250ms ease;
  display: block;
  margin: auto;
  text-align: center;
}

.green-button {
  border-color: $buttongreenborder;
  background-color: $brightergreen;
}

.light-purple-button {
  background-color: darken($navbar-bg-darker,10%);
  border-color: darken($navbar-bg-darker,15%);
}

.purple-button:hover, .green-button:hover, .light-purple-button:hover {
  transform: translateY(3px);
  color: $buttontextgreen;
  border-color: $buttondarkerpurple;
  background-color: $buttonpurplehover;
}

.green-button:hover {
  border-color: $buttongreenborder;
  background-color: $buttongreenhover;
}

.light-purple-button:hover {
  border-color: darken($navbar-bg-darker,15%);
  background-color: $lightpurple;
}

/****** PAYPAL BUTTONS ******/

/* PAYMENT PAGE */
.container-payment form {
  display: block;
  text-align: center;
  margin: auto;
  width: 234px;
}

.container-payment form input {
  width: 234px;
  margin-bottom: 5px;
  background-color: $lightlightpurple;
}

.container-payment .green-button {
  display: block;
  margin-top: 5px;
  background-color: $brightergreen;
}

.container-payment input.green-button:hover {
  background-color: $buttongreenhover;
}

/* PRIVATE SESSIONS PAGE AND BUTTON */
.paypal-button-private-sessions form {
  display: block;
  text-align: center;
  margin: auto;
  width: 180px;
}

.book-session form input {
  width: 180px;
  margin-bottom: 5px;
  background-color: $lightlightpurple;
}

.book-session input.light-purple-button {
  background-color: darken($navbar-bg-darker,10%);
}

.book-session input.light-purple-button:hover {
  background-color: $lightpurple;
}

/** SINGLE WORKSHOP PAGE **/

.container-single-workshop form {
  display: block;
  text-align: center;
  margin: auto;
  width: 300px;
  margin-bottom: 40px;
}

.container-single-workshop form select {
  margin-bottom: 5px;
  background-color: #fff;
  border-color: $lightpurple;
  margin-bottom: 10px;
}

/******* CONTACT PAGE FORM *******/

.wpforms-form input, .wpforms-form textarea {
  border-color: darken($lightlightpurple,20%)!important;
}

.wpforms-form button {
  padding: 8px 20px!important;
  color: $buttontextgreen!important;
  border: solid 1px!important;
  border-radius: 4px!important;
  transition: all 250ms ease!important;
  border-color: $buttongreenborder!important;
  background-color: $brightergreen!important;
}

.wpforms-form button:hover {
  transform: translateY(3px)!important;
  color: $buttontextgreen!important;
  border-color: $buttongreenborder!important;
  background-color: $buttongreenhover!important;
}

@media (max-width: 600px) {

  .wpforms-form button {
    display: block!important;
    margin: auto!important;
    text-align: center!important;
  }
}

/******* NEWSLETTER FORM *********/

.mc4wp-form-fields p {
  display: block;
  text-align: center;
  margin: auto;
}

.mc4wp-form-fields input {
  width: 220px;
  margin-bottom: 10px;
  border-color: darken($lightlightpurple,20%)!important;
}
