.page-id-15, .page-id-84 {
background-color: $lightlightpurple;
}

.about-don {
  max-width: 900px;
  padding-bottom: 70px;
}

.about-don-image-col {
  padding-top: 16px;
  padding-left: 40px;
}

.about-don-image {
  border: double 6px $buttongreenborder;
  padding: 15px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.4);
}

.private-col {
  padding-bottom: 20px;
}

.about-don-private {
  padding-bottom: 40px;
}

.book-session {
  margin-left: 10px;
}

@media (max-width: 768px) {

.about-don-image-col {
  
  text-align: center;
  margin: auto;
  padding-left: 15px;
  }
}



