/** FRONT PAGE **/

.home {
  background-image: url('images/symphony.png');
  /*background-color: $lightlightpurple;*/
}

.myParallax {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;
}

.welcome-text h1 {
  font-size: 42px;
  color: $lightlightpurple;
  text-align: center;
  position: absolute;
  left: 35%;
  top: 45%;
  right: 35%;
}

@media (max-width: 1252px) {

  .welcome-text h1 {
    left: 30%;
    right: 30%;
  }
}

@media (max-width: 945px) {

  .welcome-text h1 {
    left: 25%;
    right: 25%;
  }
}

@media (max-width: 760px) {

  .welcome-text h1 {
    left: 20%;
    right: 20%;
  }
}

@media (max-width: 635px) {

  .welcome-text h1 {
    left: 15%;
    right: 15%;
  }
}

@media (max-width: 635px) {

  .welcome-text h1 {
    left: 10%;
    right: 10%;
  }
}

@media (max-width: 480px) {

  .welcome-text h1 {
    left: 0%;
    right: 0%;
  }
}

@media (max-width: 388px) {

  .welcome-text h1 {
    font-size: 38px;
    top: 50%;
  }
}

.intro-text-column {
  max-width: 800px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.intro-text p {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
  padding-bottom: 15px;
}

.intro-effects {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  margin-bottom: 40px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 20px 15px -12px rgba(0, 0, 0, 0.5);
}

.intro-effects-text {
  position: absolute;
  left: 22%;
  top: 14%;
  right: 0%;
  text-align: left;
}

.intro-effects-text h4 {
  color: $lightlightpurple;
}

.intro-effects-text .fa-heart {
  color: $lightlightpurple;
}

@media (max-width: 650px) {

  .intro-effects-text {
    left: 18%;
  }
}

@media (max-width: 600px) {

  .intro-effects-text {
    left: 15%;
  }
}

@media (max-width: 550px) {

  .intro-effects-text {
    left: 10%;
  }
}

@media (max-width: 500px) {

  .intro-effects-text {
    left: 5%;
  }
}

@media (max-width: 470px) {

  .intro-effects-text {
    left: 2%;
  }
}

@media (max-width: 450px) {

  .intro-effects-text {
    left: 5%;
  }

  .intro-effects-text h4 {
    font-size: 16px;
  }

}

@media (max-width: 425px) {

  .intro-effects-text {
    left: 2%;
  }

  .intro-effects-text h4 {
    font-size: 16px;
  }

}

@media (max-width: 400px) {

  .intro-effects-text {
    left: 2%;
  }

  .intro-effects-text h4 {
    font-size: 15px;
  }

}

/** UPCOMING WORKSHOPS AND TESTIMONIALS**/

.front-page-two-columns {
  padding-left: 40px;
  padding-right: 40px;
}

.workshop-column, .testimonials-column {
  min-height: 550px;
  padding-top: 10px;
  margin-bottom: 60px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background: rgb(185,175,180);
  background: linear-gradient(135deg, rgba(185,175,180,1) 0%, rgba(208,202,205,1) 50%, rgba(231,228,230,1) 100%);
  /**background: #dcd7d9; **/
  border: solid 0px;
  border-color: $lightergreen;
  border-radius: 10px;
  box-shadow: 0 20px 15px -12px rgba(0, 0, 0, 0.5);
}

.testimonials-column {
/*background: #ccdc96; */
background: rgb(185,175,180);
background: linear-gradient(225deg, rgba(185,175,180,1) 0%, rgba(208,202,205,1) 50%, rgba(231,228,230,1) 100%);
}

.workshop-column h2, .testimonials-column h2 {
  text-align: center;
  padding-bottom: 20px;
}

.workshop-date {
  padding-bottom: 15px;
}

.workshop-content {
  padding-bottom: 15px;
}

.workshop-date, .workshop-content span {
  font-family: Muli800, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.6;
}

.testimonials-content {
  padding-bottom: 15px;
}

.testimonials-content p {
  font-style: italic;
  margin-bottom: 0px;
  text-align: justify;
}

.testimonials-content span {
  font-family: Muli800, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.6;
}

.image-column {
  padding-top: 10px;
  padding-left: 5px;
}

.testimonials-image-frontpage {
  height: 115px;
  border-radius: 50%;
}

i {
  color: $darkpurple;
  padding-right: 20px;
}






