/** FRONT PAGE **/

.home {
  background-image: url('images/symphony.png');
  /*background-color: $lightlightpurple;*/
}

/* ------------------------- */

.welcome-image {
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center 0px;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  margin-bottom: 20px;
}

.welcome-text {
  position: absolute;
  top: 46%;
  left: 0;
  right: 0;
  margin: auto;
}

.welcome-text h1 {
  font-size: 64px;
  letter-spacing: 6px;
  color: $lightlightpurple;
  text-align: center;
}

@media (max-width: 1100px) {

  .welcome-image {
    background-attachment: scroll;
  }
}

@media (max-width: 954px) {

  .welcome-text h1 {
    font-size: 56px;
  }
}

@media (max-width: 867px) {

  .welcome-text h1 {
    font-size: 48px;
  }
}

@media (max-width: 779px) {

  .welcome-text h1 {
    font-size: 40px;
  }
}

@media (max-width: 692px) {

  .welcome-text h1 {
    font-size: 32px;
  }
}

/* -----------------------------*/

.intro-text {
  max-width: 800px;
  text-align: center;
  margin-bottom: 24px;
}

.intro-text h1 {
  margin-top: 30px;
}

.intro-text p {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
}

/* SECOND BACKGROUND IMAGE + TEXT */
/* ---------------------------------- */

.intro-effects-bg-image {
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  margin-bottom: 40px;
}

.intro-effects-text {
  text-align: center;
  width: 660px;
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  margin: auto;
  border: double 6px $lightlightpurple;
  padding: 10px 10px 10px 10px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,.9);
  background: rgba(166, 194, 74, 0.3);
  opacity: 0;
  transition: 1000ms ease-in-out; 
  transform: translateY(60px);
}

.intro-effects-text ul {
  padding-left: 0px;
}

.is-showing {
  opacity: 1;
  transform: translateY(0px);
}

.intro-effects-text li {
  color: $lightlightpurple;
  font-family: 'Bilbo Swash Caps', cursive;
  font-weight: 800;
  font-size: 26px;
  letter-spacing: 3px;
}

.intro-effects-text .fa-heart {
  color: $lightlightpurple;
}

.button-front-page {
  /*display: block;
  text-align: center;
  margin: 0px auto 50px auto; */
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
}

.f-page-button {
  opacity: 0;
  transition: all 800ms ease-in-out;
  transform: translateY(-30px)
}

.button-scale {
  opacity: 1;
  transform: translateY(0px)
}

/* ---------------------------- */

@media (max-width: 1100px) {

  .intro-effects-bg-image {
    background-attachment: scroll;
  }

  .intro-effects-text {
    opacity: 1;
  }

  .f-page-button {
    opacity: 1;
  }
}

@media (max-width: 750px) {

  .intro-effects-text {
    width: 500px;
  }

  .intro-effects-text li {
    font-size: 22px;
  }
}

@media (max-width: 550px) {

  .intro-effects-text {
    border: none;
    padding: 0px 0px 0px 0px;
    box-shadow: none;
    background: transparent;
    top: 2%;
  }

  .intro-effects-text {
    width: 500px;
  }

  .intro-effects-text li {
    font-size: 20px;
  }
}

@media (max-width: 510px) {

  .intro-effects-text {
    border: none;
    padding: 0px 0px 0px 0px;
    box-shadow: none;
    background: transparent;
  }

  .intro-effects-text {
    width: 350px;
  }

  .intro-effects-text li {
    font-size: 20px;
  }
}

/** UPCOMING WORKSHOPS AND TESTIMONIALS**/

.front-page-two-columns {
  padding-left: 40px;
  padding-right: 40px;
}

.workshop-column, .testimonials-column {
  min-height: 560px;
  margin-bottom: 60px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  background: rgb(185,175,180);
  background: linear-gradient(135deg, rgba(185,175,180,1) 0%, rgba(208,202,205,1) 50%, rgba(231,228,230,1) 100%);
  border: solid 0px;
  border-color: $lightergreen;
  border-radius: 10px;
  box-shadow: 0 20px 15px -12px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1180px) {

  .workshop-column, .testimonials-column {
    min-height: 580px;
  }
}

@media (max-width: 1172px) {

  .workshop-column, .testimonials-column {
    min-height: 600px;
  }
}

@media (max-width: 1160px) {

  .workshop-column, .testimonials-column {
    min-height: 620px;
  }
}

@media (max-width: 1058px) {

  .workshop-column, .testimonials-column {
    min-height: 640px;
  }
}

@media (max-width: 971px) {

  .workshop-column, .testimonials-column {
    min-height: 680px;
  }
}

@media (max-width: 960px) {

  .workshop-column, .testimonials-column {
    min-height: 720px;
  }
}

@media (max-width: 901px) {

  .workshop-column, .testimonials-column {
    min-height: 760px;
  }
}

@media (max-width: 857px) {

  .workshop-column, .testimonials-column {
    min-height: 800px;
  }
}

@media (max-width: 798px) {

  .workshop-column, .testimonials-column {
    min-height: 820px;
  }
}

.testimonials-column {
  background: rgb(185,175,180);
  background: linear-gradient(225deg, rgba(185,175,180,1) 0%, rgba(208,202,205,1) 50%, rgba(231,228,230,1) 100%);
}

.workshop-column h1, .testimonials-column h1 {
  text-align: center;
  padding-bottom: 10px;
}

.workshop-column i, .testimonials-column i {
  padding-right: 10px;
  color: #6f6268;
}

.workshop-date {
  padding: 0;
}

.workshop-content {
  padding: 0;
}

.workshop-date, .workshop-content span {
  font-family: Muli800, sans-serif;
  font-weight: 800;
  line-height: 1.6;
}

.workshop-content p {
  text-align: left;
}

.frontpage-button-2 {
  display: inline-block;
  text-align: left;
  padding: 4px 12px;
  margin-bottom: 30px;
}

.button-view-all {
  margin-top: 10px;
  padding: 10px 24px;
}

.testimonials-content {
  padding: 0px;
  margin-bottom: 20px;
}

.testimonials-content p {
  font-style: italic;
  margin-bottom: 0px;
  text-align: justify;
}

.testimonials-content span {
  font-family: Muli800, sans-serif;
  font-weight: 800;
  line-height: 1.6;
}

.image-column {
  padding-top: 10px;
  padding-left: 0px;
}

.testimonials-image-frontpage {
  height: 126px;
  border-radius: 50%;
}

@media (max-width: 1250px) {

  .testimonials-image-frontpage {
    height: 110px;
  }
}

@media (max-width: 1150px) {

  .testimonials-image-frontpage {
    height: 100px;
  }
}

@media (max-width: 1060px) {

  .testimonials-image-frontpage {
    height: 94px;
  }
}

@media (max-width: 1000px) {

  .testimonials-image-frontpage {
    height: 80px;
  }
}

@media (max-width: 880px) {

  .testimonials-image-frontpage {
    height: 70px;
  }
}

@media (max-width: 767px) {

  .front-page-two-columns {
    padding-left: 15px;
    padding-right: 15px;
}

  .workshop-column, .testimonials-column {
    padding-top: 2px;
    text-align: center;
    min-height: 400px;
  }

  .workshop-content p {
    text-align: center;
  }

  .workshop-date {
    margin-bottom: 15px;
  }

  .testimonials-image-frontpage {
    height: 126px;
    display: block;
    margin: 0 auto 15px auto;
    text-align: center;
  }

  .testimonials-content span {
    display: block;
    text-align: left;
  }
}






/* ----------------------------- */

/*@media (max-width: 1252px) {

  .welcome-image {
    background-attachment: scroll;
  }

  .welcome-text h1 {
    left: 30%;
    right: 30%;
  }
}

@media (max-width: 945px) {

  .welcome-text h1 {
    left: 25%;
    right: 25%;
  }
}

@media (max-width: 760px) {

  .welcome-text h1 {
    left: 20%;
    right: 20%;
  }
}

@media (max-width: 635px) {

  .welcome-text h1 {
    left: 15%;
    right: 15%;
  }
}

@media (max-width: 635px) {

  .welcome-text h1 {
    left: 10%;
    right: 10%;
  }
}

@media (max-width: 480px) {

  .welcome-text h1 {
    left: 0%;
    right: 0%;
  }
}

@media (max-width: 388px) {

  .welcome-text h1 {
    font-size: 38px;
    top: 50%;
  }
} */


