/** HERO **/

.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  margin-bottom: 50px;
  position: relative;
  border-bottom-left-radius: 80% 15%;
  border-bottom-right-radius: 40% 5%;
}

.hero-headline h1 {
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 70px;
  color: #0E090C;
  position: absolute;
  top: 65%;
  left: 13%;
}

@media (max-width: 960px) {

  .hero-headline h1 {
    font-size: 60px;
    left: 10%;
  }
}

@media (max-width: 800px) {

  .hero-headline h1 {
    left: 5%;
  }
}

@media (max-width: 768px) {
  
  .hero {
    margin-bottom: 20px;
  }
}

@media (max-width: 720px) {
  
  .hero-headline h1 {
    font-size: 57px;
  }
}

@media (max-width: 680px) {
  
  .hero-headline h1 {
    font-size: 55px;
  }
}

@media (max-width: 650px) {
  
  .hero-headline h1 {
    top: 50%;
  }
}

@media (max-width: 375px) {
  
  .hero-headline h1 {
    font-size: 50px;
  }
}

@media (max-width: 350px) {
  
  .hero-headline h1 {
    font-size: 45px;
  }
}

