/** HERO **/

.hero {
  background-size: cover;
  background-position: center;
  height: 350px;
  text-align: left;
  margin-bottom: 60px;
  border-bottom-left-radius: 80% 15%;
  border-bottom-right-radius: 40% 5%;
}

.hero-headline h1 {
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 80px;
  color: #0E090C;
  margin-top: 0px;
  padding-top: 250px;
  padding-left: 120px;
}