/** NAVIGATION BAR **/

.container {
  width: 95%;
  /*max-width: 1400px; */
  margin: 0 auto;
}

header {
  background: $lightlightpurple;
  color: $darkpurple;
  padding: 1em 0;
  position: relative;
}

header::after {
  content: '';
  clear: both;
  display: block;
}

.logo {
  float: left;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  background: $lightlightpurple;
  height: 0px;
  overflow: hidden;
}

.site-nav--open {
  height: auto;
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.site-nav ul ul {
  position: absolute;
  display: none;
  background: #ccc;
}

.site-nav ul ul li {
  display: block;
  padding: 0.5em 1em 1em 1em;
}

.site-nav li {
  border-bottom: 1px solid $lightpurple;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: $darkpurple;
  font-size: 14px;
  display: block;
  padding: 2em 4em 2em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #E4B363;
  color: #464655;
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: $darkpurple;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}


@media (min-width: 1200px) {
  
  .menu-toggle {
    display: none;
  }
  
  .site-nav {
    height: auto;
    position: relative;
    background: #ccc;
    float: right;
    overflow: visible;
  }

  .site-nav ul {
    position: relative;
  }

  .site-nav ul li:hover ul {
    display: block;
  }
  
  .site-nav li {
    display: inline-block;
    border: none;
  }
  
  .site-nav a {
    padding: 0;
    margin-left: 2em;
  }
  
  .site-nav a:hover,
  .site-nav a:focus {
    background: transparent;
  }
  
  

}

