/** NAVIGATION BAR **/

.container {
  width: 100%;
  /* max-width: 1400px; */
  margin: 0 auto;
}

header {
  background: $navbar-bg;
  color: $darkpurple;
  padding: 3px 0;
  position: relative;
}

header::after {
  content: '';
  clear: both;
  display: block;
}

.logo {
  height: 60px;
  display: block;
  float: left;
}

.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  background: $navbar-bg;
  height: 0px;
  width: 100vw;
  overflow: hidden;
  z-index: 10;
}

.site-nav--open {
  height: auto;
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.site-nav li {
  border-bottom: 1px solid #c8c4d3;
}

.site-nav li:first-child {
  border-top: 1px solid #c8c4d3;
}

.site-nav a {
  color: $darkpurple;
  font-size: 14px;
  font-family: Muli800, sans-serif;
  display: block;
  padding: 26px 30px 26px 80px;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #bab5c9;
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: 1em;
  right: .3em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: $darkpurple;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.hamburger--open .hamburger {
  transform: rotate(45deg);
}

.hamburger--open .hamburger::before {
  opacity: 0;
}

.hamburger--open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

.fa.fa-chevron-down {
  padding: 0px;
}

.dropdown-button {
  cursor: pointer;
}

.sub-menu {
  position: absolute;
  height: 0px;
  overflow: hidden;
  background: #e3e1e9;
}

.sub-menu a {
  display: block;
  padding: 26px 30px 26px 120px;
}

.sub-menu--open {
  height: auto;
}  

/* MEDIA QUERY FOR LAPTOPS */
@media screen and (min-width: 1060px) {

  .container {
    width: 98%;
  }
  
  .menu-toggle {
    display: none;
  }
  
  .site-nav {
    height: auto;
    width: auto;
    position: relative;
    background: transparent;
    float: right;
    overflow: visible;
  }

  .site-nav li {
    display: inline-block;
    border: none;
  }

  .site-nav a {
    padding: 22px 0px 22px 0px;
    margin-left: 30px;
    transition: color 800ms ease;
    -webkit-transition: color 800ms ease;
    -moz-transition: color 800ms ease;
    -o-transition: color 800ms ease;
  }

  .site-nav a:hover,
  .site-nav a:focus {
    background: transparent;
    color: $lightpurple;
    transition: color 800ms ease;
    -webkit-transition: color 800ms ease;
    -moz-transition: color 800ms ease;
    -o-transition: color 800ms ease;
  }

  .current-menu-item a {
    color: $lightpurple;
  }

  .site-nav li:first-child {
    border-top: none;
  }

  .site-nav ul ul {
    opacity: 0;
    position: absolute; 
    top: 63px; /* the height of the main nav */
    left: -10px;
    overflow: visible;
    background: $navbar-bg;
    height: auto;
    transition: opacity 1s linear;
  }

  .site-nav ul ul li {
    width: 120px;
    display: block;
    position: relative;
    padding: 0px;
    margin: 20px 15px 10px 40px;
  }

  .site-nav ul ul li a {
    padding: 0px;
    margin: 0px;
  }

  .site-nav ul li:hover ul {
    opacity: 1;
  }

}

/* MEDIA QUERY FOR MEDIUM SIZED DEVICES, ADJUSTING THE WIDTH */
@media screen and (max-width: 1059px) and (min-width: 500px) {

  .site-nav {
    width: 280px;
  }

  .sub-menu a {
    padding: 26px 30px 26px 110px;
  }

}
