/* READ MORE ARCHIVE PAGE */

.blog, .single-post {
  background-image: url('images/leaves-pattern.png');
  /*background-color: $lightlightpurple;*/
}

.post-type-archive-deutsche, .single-deutsche {
  background-image: url('images/tree_bark-compressor.png');
}

.post-container {
  max-width: 900px;
  margin-bottom: 30px;
}

.post-image {
  height: 250px;
  width: 250px;
  margin-top: 4px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.4);
}

.post-content-archive-col {
  padding-left: 0px;
}

.post-content-archive-col h2 {
  margin-top: -2px;
  color: $buttongreenborder;
  font-family: Muli600, sans-serif;
}

.post-content-archive-col .green-button {
  text-align: left;
  display: inline-block;
  margin-top: 10px;
}

hr.divider {
  border-bottom: 1px solid $lightergreen;
}

@media (max-width: 850px) {

  .post-image {
    height: 230px;
    width: 230px;
  }
}

@media (max-width: 800px) {

  .post-image {
    height: 210px;
    width: 210px;
  }
}

@media (max-width: 767px) {
  .post-image {
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .post-content-archive-col {
    padding-left: 15px;
  }

  .post-content-archive-col h2, h4 {
    text-align: center;
    margin-top: 15px;
  }

  .post-content-archive .green-button {
    display: block;
    text-align: center;
    width: 140px;
  }
}

/* READ MORE SINGLE PAGE */

.post-container-single {
  max-width: 900px;
  margin-bottom: 30px;
  background-color: #fdfcf5;
  padding: 24px 50px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2);
}

.post-container-single h1 {
  color: $buttongreenborder;
  font-weight: 800;
  text-align: center;
}

.post-container-single h4 {
  text-align: center;
  padding-bottom: 15px;
  padding-top: 4px;
  
  &::before, &::after {
  content: "§";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  opacity: 1;
  margin: 0 0.6em;
  font-family: 'EB Garamond', serif;
  font-size: 1em;
  }
}

hr.page-divider {
  border-top: 2px solid $buttongreenborder;
  width: 60px;
  padding: 0px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

hr.first-page-divider {
  margin-bottom: 0px;
  margin-top: 10px;
}

hr.second-page-divider {
  margin-top: 10px;
  margin-bottom: 50px;
}

.post-image-col-single {
  padding-left: 0px;
  padding-right: 25px;
  margin-top: 6px;
}

.post-image-single {
  border: double 6px $buttongreenborder;
  padding: 15px;
}

.button-post-single {
  display: block;
  text-align: center;
  margin: 0 auto 30px auto;
}

@media (max-width: 768px) {
  
  .post-image-col-single {
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .post-image-single {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  hr.second-page-divider {
    margin-bottom: 36px;
  }
}

@media (max-width: 575px ) {

  .post-container-single {
    padding: 10px 15px;
  }
}

/* DEUTSCHE ARCHIVE PAGE */

.about-don-deutsche-container {
  max-width: 900px;
  margin-bottom: 20px;
}

.about-don-deutsche-col {
  padding-left: 40px;
  margin-bottom: 30px;
}

.about-don-deutsche-container h1 {
  color: $buttongreenborder;
  font-weight: 800;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 20px;
}

.don-image-deutsche {
  border: double 6px $buttongreenborder;
  padding: 15px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.4);
}

.ilse-container {
  max-width: 900px;
  margin-bottom: 80px;
}
 
.ilse-contact {
  width: 435px;
  height: 234px;
  padding: 15px 20px 26px 20px;
  background: #F1F0F4;
  border: solid 1px;
  border-color: $lightergreen;
  border-radius: 4px;
  box-shadow: 0 20px 15px -12px rgba(0, 0, 0, 0.5);
  background: rgb(185,175,180);
  background: linear-gradient(135deg, rgba(185,175,180,1) 0%, rgba(208,202,205,1) 50%, rgba(231,228,230,1) 100%);
  margin: auto;
  float: none;
}

.ilse-contact h1 {
  color: $darkpurple;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}

.ilse-contact h3 {
  margin-top: 0px;
  margin-bottom: 50px;
}

.ilse-contact-col {
  padding-right: 0px;
}

.ilse-image {
  height: 135px;
  width: 135px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ilse-contact .fas, .far {
  color: $darkpurple;
}

@media (max-width: 767px) {
  
  .don-image-deutsche {
    height: 300px;
    width: 300px;
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
  }

  .about-don-deutsche-col {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 475px) {

  .ilse-contact {
    width: 344px;
    height: 194px;
    padding: 10px 0px 10px 0px;
  }

  .ilse-contact h1 {
    font-size: 32px;
  }

  .ilse-contact h3 {
    font-size: 22px;
    margin-bottom: 30px;
  }

  .ilse-contact h4 {
    font-size: 16px;
    text-align: left;
  }

  .ilse-image {
    height: 115px;
    width: 115px;
  }
}

@media (max-width: 370px) {

  .ilse-contact {
    width: 335px;
    height: 194px;
    padding: 10px 0px 10px 0px;
  }

  .ilse-image {
    height: 105px;
    width: 105px;
  }

  .ilse-contact .fas, .far {
    padding-right: 10px;
  }
}