/** PRIVATE SESSIONS PAGE **/

.book-session {
  max-width: 432px;
  background: #F1F0F4;
  background: rgb(162,188,78);
  background: linear-gradient(180deg, rgba(162,188,78,1) 0%, rgba(192,209,133,1) 100%);
  border-radius: 4px;
  box-shadow: 0 20px 15px -12px rgba(0, 0, 0, 0.5);
}

.book-session h3 {
  padding-bottom: 15px;
}

.book-session h4 {
  padding-bottom: 10px;
  font-weight: 400;
}
