/** PRIVATE SESSIONS PAGE **/

.private-sessions-col-2 .book-session {
  background: #F1F0F4;
  background: rgb(162,188,78);
  background: linear-gradient(180deg, rgba(162,188,78,1) 0%, rgba(192,209,133,1) 100%);
  border-radius: 4px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.4);
  margin-top: 30px;
  margin-left: 0px;
  padding: 15px 15px 20px 15px;
  text-align: center;
}

.book-session h3 {
  margin-top: 0px;
  padding-bottom: 5px;
}

.book-session h4 {
  font-size: 16px;
}


