/** WORKSHOPS PAGES **/

/** ARCHIVE PAGE **/

.container-workshops {
  max-width: 800px;
  margin-bottom: 20px;
}

.workshops-box {
  padding-bottom: 30px;
  margin-bottom: 30px;
  background: #F1F0F4;
  border: solid 1px;
  border-color: $lightergreen;
  border-radius: 4px;
  box-shadow: 0 20px 15px -12px rgba(0, 0, 0, 0.5);
}

.date-column {
  text-align: center;
}

.calender-icon {
  height: 100px;
  padding-top: 0px;
  padding-right: 20px;
  margin-top: -45px;
}

@media (max-width: 400px) {

  .calender-icon {
    height: 70px;
  }
}

.start-date {
  line-height: 1.4;
  display: inline-block;
  text-align: left;
  margin-top: 0px;
  padding-top: 40px;
}

.content-workshops h3, .content-workshops p {
  text-align: center;
}

.content-workshops p {
  margin-bottom: 15px;
}

.content-workshops a {
  width: 125px;
}

/** SINGLE PAGE **/

.container-single-workshop {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,.3);
}

.container-single-workshop h1 {
  color: $buttongreenborder;
  font-weight: 800;
  margin-bottom: 20px;
}

.image-single-workshop {
  display: block;
  margin: auto;
  text-align: center;
  height: 250px;
  width: 700px;
  margin-bottom: 30px;
}

@media (max-width: 750px) {

  .image-single-workshop {
    height: auto;
    width: auto;
  }
}

.container-single-workshop h4 {
  margin-bottom: 40px;
}

.further-information {
  max-width: 400px;
  background: rgb(185,175,180);
  background: linear-gradient(135deg, rgba(185,175,180,1) 0%, rgba(208,202,205,1) 50%, rgba(231,228,230,1) 100%);
  border: solid 0px;
  border-color: $lightergreen;
  border-radius: 10px;
  box-shadow: 0 20px 12px -15px rgba(0, 0, 0, 0.4);
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 40px;
  border-radius: 4px;
}

.button-workshop-single {
  display: block;
  text-align: center;
  margin: 0 auto 40px auto;
  padding-top: 10px;
}

.container-single-workshop a {
  text-decoration: underline;
  color: $darkpurple;
  transition: color 800ms ease;
}

.container-single-workshop a:hover {
  color: $lightpurple;
  transition: color 800ms ease;
}


